.padding {
  padding: 10px;
}
@font-face {
  font-family: 'Roboto Mono', monospace;
  src: url('RobotoMono.woff2') format('woff2'), url('RobotoMono.woff') format('woff');
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('material-icons.woff2') format('woff2'), url('material-icons.woff') format('woff');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.CodeMirror,
#evalBox {
  font-family: 'Roboto Mono', monospace;
  height: auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
#runButtonWrapper,
#title {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}
#runButtonWrapper,
.CodeMirror,
#evalBox {
  padding: 10px;
}
